


.logo img {
    height: 50px;
    margin: 20px;
}
.container{
    width: 30%;
    justify-content: center;
    margin-top: 3%;
}
.wallet{
    margin-top: 2%;
}
/* landing page css */
.land{
    background-color: #F3F7EC;
}
